* {
  	box-sizing: border-box;
}

body {
	margin: 0;
  	height: 100vh;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background: #f4f4f4;
  	font-family: system-ui, sans-serif;
}

#container {
  	display: flex;
  	flex-wrap: wrap;
  	width: 600px;
	height: 600px;
  	background: white;
  	border: 1px solid #ccc;
}

.cell {
	border: 0.1px solid #ccc;
}
